@media screen and (max-width: 920px){
	.desktop-title{
		margin-top: 65px;
		line-height: 56px;
	}

	.input_sale_block{
		width: 50%;
	}
}

@media screen and (max-width: 880px){
	.text_call_me_block {
    margin-top: 100px;
    margin-bottom: 100px;
}
}

@media screen and (max-width: 680px){
	.desktop-title{
		margin-top: 85px;
		font-size: 32px;
    	line-height: 40px;
	}
}

@media screen and (max-width: 485px){
	.desktop-title{
		 margin-top: 70px;
    	 font-size: 32px;
    	 line-height: 40px;
	}
}