body{
	background: url(../image/background.png);
}

.title_skills{
	text-align: center;
	margin-top: 100px;
	text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;
	font-size: 42px;
	font-weight: bold;
}

.title_language {
	text-align: center;
	text-transform: uppercase !important;
	font-family: 'Work Sans', sans-serif;
	font-size: 32px;
	margin-top: 60px;
	font-weight: bold;
}

.description{
	text-align: center;
	margin-top: 80px;
	text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;
	font-size: 32px;
	border: 1px solid #a5a5a5;
	max-width: 320px;
	background: #fff;
}

.description_right_first{
	margin-top: 225px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;
	font-size: 32px;
	border: 1px solid #a5a5a5;
	background: #fff;
	max-width: 320px;
}


.description_right{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;
	font-size: 32px;
	margin-top: 85px;	
	border: 1px solid #a5a5a5;
	background: #fff;
	max-width: 320px;
}

.second{
	margin-top: 232px !important;
	border: 1px solid #a5a5a5;
	background: #fff;
	max-width: 320px;
}

.threeEl{
	margin-top: 235px !important;
	border: 1px solid #a5a5a5;
	background: #fff;
	max-width: 320px;
}

#written_text .new { opacity: 0; }
#written_text {  display:none; }
#written_text .div_opacity {
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 1;
}

#js_title .new { opacity: 0; }
#js_title {  display:none; }
#js_title .div_opacity {
  -webkit-transition: opacity .9s ease-in-out;
  -moz-transition: opacity .9s ease-in-out;
  -ms-transition: opacity .9s ease-in-out;
  -o-transition: opacity .9s ease-in-out;
  transition: opacity .9s ease-in-out;
  opacity: 1;
}


#go-top {
    position: fixed;
    bottom: 25px;
    right: 10px;
    cursor: pointer;
    display: none;
    width: 91px;
    height: 50px;
    background: #c0c0c0;
    font-size: 28px;
    border-radius: 26px;
    color: white;
    text-decoration: none;
    z-index: 100;
    padding-left: 18px;
    padding-right: 18px;
    margin-right: 25px;
    opacity: 0.8;
    padding-top: 2px;
}

#go-top:hover {
    background: #333;
    opacity: 1;
}

@media screen and (max-width: 895px){
	.description_right_first{
		margin-top: 68px;
	}

	.second{
		margin-top: 70px !important;
	}

	.threeEl {
    margin-top: 76px !important;
	}
}