body{
	background: #f4f5f7;
	margin: 0;
	padding: 0;
}

#wrapper{
	width: 960px;
	height: auto;
	margin:15px auto;
	text-align: left;
}

.header{
	width: 100%;
	height: 100px;
	margin-top: 0px;
	padding: 0px;
	position: top;
	display: inline-block;
}
.header h1{
	text-align: center;
	font-size: 35px;
}

.header h4{
	text-align: center;
	font-size: 25px;
}
.section{
	width: 660px;
	margin: 20px auto;
	background: #e3f7e5	;
	float: left;
}

.section h1{
	padding-left: 20px;
}

.section li{
	font-size: 20px;
}

.aside{
	width: 220px;
	height: 300px;
	float: left;
	margin: 20px;
	padding: 20px;
	background: #afd8dd;
}

.aside p{
	font-size: 20px;
	text-align: justify;
}

#myLocation p{
	font-size: 20px;
	text-align: justify;
}

.Back{
	width: 220px;
	float: left;
	margin: 20px;
	padding: 20px;
	background: #DDDAAA;
}

#myLocation{
	width: 220px;
	height: 222px;
	float: left;
	margin: 20px;
	padding: 20px;
	background: #e0e5e5;
}

.footer{
	clear: both;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: white;
	position: relative;
	text-align: center;
}
