body{
	margin: 0;
	padding: 0;
}
h2{
	text-align: center;
	padding-top: 45px;
}
.container{
	width: 100%;
	height: 550px;
	background: white;
	display: flex;
	justify-content: center;

}

.information{
	width: 100%;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 200px;
}

.information img{
	display: block;
	margin: 0 auto;
	width: 120px;
	height: 120px;
}

.information p{
	text-align: justify;
	padding-top: 20px;
	font-size: 18px;
	letter-spacing: 1.1px;
	width: 420px;
	font-family: 'Verdana', sans-serif;
}

@media screen and (max-width:1200px){
.information img{
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 80px;
}

.information p{
	text-align: justify;
	padding-top: 20px;
	font-size: 18px;
	letter-spacing: 1.1px;
	width: 220px;
	font-family: 'Verdana', sans-serif;
}
}

@media screen and (max-width:880px){

.container{
	display: block;
	margin: 0 auto;
}

.information{
	width: 60%;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.information img{
	display: block;
	margin: 0 auto;
	width: 180px;
	height: 180px;

}

.information p{
	text-align: justify-all;
	padding-top: 20px;
	padding-bottom: 40px;
	font-size: 20px;
	letter-spacing: 1.1px;
	width: 500px;
	font-family: 'Verdana', sans-serif;
}

}

@media screen and (max-width:556px){

.container{
	display: block;
	margin: 0 auto;
}

.information{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
}

.information img{
	display: block;
	margin: 0 auto;
	width: 140px;
	height: 140px;

}

.information p{
	text-align: justify;
	padding-top: 20px;
	padding-bottom: 40px;
	font-size: 16px;
	letter-spacing: 1.1px;
	width: 400px;
	font-family: 'Verdana', sans-serif;
}

}

@media screen and (max-width:435px){

.container{
	display: block;
	margin: 0 auto;
}

.information{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
}

.information img{
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 80px;

}

.information p{
	text-align: justify;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 16px;
	letter-spacing: 1.1px;
	width: 260px;
	font-family: 'Verdana', sans-serif;
}

}

@media screen and (max-width:298px){

.container{
	display: block;
	margin: 0 auto;
}

.information{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
}

.information img{
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 80px;

}

.information p{
	text-align: justify;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 16px;
	letter-spacing: 1.1px;
	width: 200px;
	font-family: 'Verdana', sans-serif;
}

}