body{
	margin: 0;
	padding: 0;
}

body{
	overflow: hidden;
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

h1{
	font-size: 30px;
	font-family: verdana;
	color: #6f83d6;
	text-align: center;
}