@media screen and (max-width: 1440px){
	
	h2 { width: 1440px; 
		font-size: 30px;
		text-align: center;
		padding: 25px;
	}
	
	h3{ width: 300px; 
		font-size: 24px;
		text-align: center;

	}
	p{ 	width: 280px; 
		font-size: 25px;
		text-align: justify;
		padding: 5px;

	}

	div.block {
		width: 300px;
		margin-top: 30px;
		margin-left: 30px;
		padding: 15px;
		border: 1px solid #ddd;
		border-radius: 10px;
		float: middle;
	}
	div.circle {  
		width: 200px;
		height: 200px;
		margin: 0 auto;
		color: #69c6a6;
		line-height: 200px;
		text-align: center;
		border-radius: 50%;
		font-size: 1.1em;
		text-shadow: 1px 1px 1px #e8f2ef;
		position: relative;

	}

	div.circle::after{
		content: '';
		width: 200px;
		height: 200px;
		background: #77c699;
		display: block;
		border-radius: 50%;
		position: absolute;
		top: -1px;
		left: -1px;
		z-index: 1;
		transition: 0.5s width, 0.5s height, 0.5s top, 0.5s left;
}

	div.text { width: 240px; 
		font-size: 0.80em;
	}
	
}


@media screen and (max-width: 1120px){
	
	h2 { width: 1120px; 
		font-size: 28px;
		text-align: center;
		padding: 20px;
	}
	
	h3{ width: 240px; 
		font-size: 22px;
		text-align: center;

	}
	p{ 	width: 240px; 
		font-size: 22px;
		text-align: justify;
		padding: 5px;

	}

	div.block {
		width: 260px;
		margin-top: 30px;
		margin-left: 30px;
		padding: 15px;
		border: 1px solid #ddd;
		border-radius: 10px;
		float: middle;
	}
	div.circle {  
		width: 180px;
		height: 180px;
		margin: 0 auto;
		color: #69c6a6;
		line-height: 180px;
		text-align: center;
		border-radius: 50%;
		font-size: 1.1em;
		text-shadow: 1px 1px 1px #e8f2ef;
		position: relative;

	}

	div.circle::after{
		content: '';
		width: 180px;
		height: 180px;
		background: #77c699;
		display: block;
		border-radius: 50%;
		position: absolute;
		top: -1px;
		left: -1px;
		z-index: 1;
		transition: 0.5s width, 0.5s height, 0.5s top, 0.5s left;
}

	div.text { width: 200px; 
		font-size: 0.80em;
	}
	
}


@media screen and (max-width: 997px){
	
	h2 { width: 997px; 
		font-size: 20px;
		text-align: center;
		padding: 20px;
	}
	
	h3{ width: 220px; 
		font-size: 18px;
		text-align: center;

	}
	p{ 	width: 200px; 
		font-size: 14px;
		text-align: justify;
		padding: 5px;

	}

	div.block {
		width: 220px;
		margin-top: 30px;
		margin-left: 15px;
		padding: 10px;
		border: 1px solid #ddd;
		border-radius: 10px;
		float: middle;
	}
	div.circle {  
		width: 120px;
		height: 120px;
		margin: 0 auto;
		color: #69c6a6;
		line-height: 120px;
		text-align: center;
		border-radius: 50%;
		font-size: 1.1em;
		text-shadow: 1px 1px 1px #e8f2ef;
		position: relative;

	}

	div.circle::after{
		content: '';
		width: 120px;
		height: 120px;
		background: #77c699;
		display: block;
		border-radius: 50%;
		position: absolute;
		top: -1px;
		left: -1px;
		z-index: 1;
		transition: 0.5s width, 0.5s height, 0.5s top, 0.5s left;
}

	div.text { width: 180px; 
		font-size: 0.80em;
	}
	
}


@media screen and (max-width: 792px){

	h2 { 
		width: 295px; 
		font-size: 18px;
		text-align: center;
		padding: 12px;
	}

	h3{ 
		width: 260px; 
		font-size: 18px;
		text-align: center;

	}
	
	p{ 	
		width: 240px; 
		font-size: 20px;
		text-align: justify;
		padding: 5px;

	}

	div.block {
		width: 290px;
		margin-top: 30px;
		margin-left: 20px;
		padding: 15px;
		border: 1px solid #ddd;
		border-radius: 10px;
		float: middle;
	}
	div.circle {  
		width: 100px;
		height: 100px;
		margin: 0 auto;
		color: #69c6a6;
		line-height: 100px;
		text-align: center;
		border-radius: 50%;
		font-size: 1.1em;
		text-shadow: 1px 1px 1px #e8f2ef;
		position: relative;

	}

	div.circle::after{
		content: '';
		width: 100px;
		height: 100px;
		background: #e8f2ef;
		display: block;
		border-radius: 50%;
		position: absolute;
		top: -1px;
		left: -1px;
		z-index: 1;
		transition: 0.5s width, 0.5s height, 0.5s top, 0.5s left;
}

.circle a{
	font-size: 9px;
	color: black;
	text-align: center;
}

	div.text { width: 180px; 
		font-size: 0.45em;
	}
	
}

@media screen and (max-width: 480px){

	h2 { 
		width: 480px; 
		font-size: 22px;
		text-align: center;
		padding: 12px;
	}

	h3{ 
		width: 260px; 
		font-size: 20px;
		text-align: center;

	}
	
	p{ 	
		width: 240px; 
		font-size: 20px;
		text-align: justify;
		padding: 5px;

	}

	div.block {
		width: 260px;
		margin-top: 30px;
		margin-left: 15px;
		padding: 15px;
		border: 1px solid #ddd;
		border-radius: 10px;
		float: middle;
	}
	div.circle {  
		width: 100px;
		height: 100px;
		margin: 0 auto;
		color: #69c6a6;
		line-height: 100px;
		text-align: center;
		border-radius: 50%;
		font-size: 1.1em;
		text-shadow: 1px 1px 1px #e8f2ef;
		position: relative;

	}

	div.circle::after{
		content: '';
		width: 100px;
		height: 100px;
		background: #e8f2ef;
		display: block;
		border-radius: 50%;
		position: absolute;
		top: -1px;
		left: -1px;
		z-index: 1;
		transition: 0.5s width, 0.5s height, 0.5s top, 0.5s left;
}

.circle a{
	font-size: 11px;
	color: black;
	text-align: center;
}

	div.text { width: 150px; 
		font-size: 0.45em;
	}
	
}

