body {
  height: 100%;
  background-color: #333;
  background-image: url('http://s1.1zoom.me/big3/894/Moon_Black_background_496528.jpg');
  background-size: cover;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  overflow: hidden;
}
p {
  line-height: 1.3;
  margin: 10px auto;
}
h1,
h4 {
  text-align: center;
  margin: 5px 0;
}
h6 {
  font-size: 30px;
  margin: 5px 0;
}
main {
  max-width: 780px;
  margin: auto;
}
section {
  margin-bottom: 20px;
}
@keyframes bounce {
  0% {
    transform: scaleY(2);
  }
  10% {
    transform: scaleY(0.1);
  }
  20% {
    transform: scaleY(1.5);
  }
  30% {
    transform: scaleY(0.6);
  }
  40% {
    transform: scaleY(1.2);
  }
  50%,
  100% {
    transform: scaleY(1);
  }
}
.name {
  transform-origin: center bottom;
  position: relative;
  animation-name: bounce;
  animation-duration: 8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes works {
   0% {
    right: -100px;
    }
  10% {
    right: 100px;
    }
  20% {
    right: -50px;
    }
  30% {
    right: 50px;
    }
  40% {
    right: -30px;
    }
  50%,
  100% {
    right: 0;
    }
}
.work{
  position: relative;
  animation-name: works;
  animation-duration: 8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.creature{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #3ac;
  position: relative;
}
.creature::before, 
.creature::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  top: 30px;
  }
.creature::after { right: 35px; }
.creature::before { left: 35px; 
  animation: eye 3s ease-in-out infinite;}
@keyframes eye {
  80% {transform: none;}
  85% {transform: scaleY(0.2);}
  90% {transform: none;}
  95% {transform: scaleY(0.2);}
}
