body {
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 100;
	font-size: 26px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	margin-top: 0px;

}

.container {
	width: 100%;
	margin: 20px auto 50px;
	padding: 0 0 0;

}

.container-scroll {
 	background: green;
 	max-width: 1000px;
 	position: relative;
 	margin: auto;
}

.container-inf {
	background: #FAF5F5;
	margin-top: 45px;
	padding-top: 40px;
	text-align: center;
	min-height: 300px;
	width: 100%;
}

.container-inf p {
font-size: 40px;
font-family: sans-serif;
font-style: verdana;
padding-left: 20px;
padding-right: 20px;
color: black;

}

.container-inf li{
font-size: 30px;
text-align: left;
color: black;
font-family: sans-serif;
font-style: tahoma;

}


.plus {
	background: #f2f2f2;
	padding-top: 35px;
	margin-bottom: 45px;
	min-height: 200px; 
}

.plus h3{
	font-size: 55px;
	text-align: center;
	font-family: sans-serif;
	font-style: tahoma;
	color: black;
}

.plus p{
	font-size: 25px;
	font-family: sans-serif;
	font-style: verdana;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;

}

@-webkit-keyframes fade {
	from{opacity: 4;}
	to{opacity: 1}
}

@keyframes fade{
	from{opacity: .4}
	to{opacity: 1}
}

.navbar-inverse .navbar-brand {
	color: #999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

.centered {
	text-align: center;
	font-size: 22px;
}




#headerwrap {
	background: url(https://c.pxhere.com/photos/3a/17/asphalt_aspiration_clouds_cloudy_endless_forward_freedom_HD_wallpaper-912050.jpg!d) no-repeat center top;
	margin-top: -10px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;
	padding: 0 0;

	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#headerwrap p{
	text-align: center;
	font-size: 100px;
	color: #0A385C;
}



 .nav {
	margin: 20px 0;
}
.nav ul {
	margin: 0;
	padding: 0;
}
.nav li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	*display:inline; /* ie7 */
}
.nav a {
	padding: 3px 12px;
	text-decoration: none;
	color: #999;
	line-height: 100%;
}

.nav p{
	font-size: 25px;
	color: #DADEE2;
	text-decoration: none;
	text-align: right;
	padding-left: 15px;
	padding-right: 15px;
}
.nav a:hover {
	color: #000;
}
.nav .current a {
	background: #999;
	color: #fff;
	border-radius: 3px;
}

.contact {
	min-height: 600px;
	width: 100%;
	background:white;
	padding-top: 45px;
}

.contact h3{
	text-align: center;
	font-size: 45px;
	color: black;
	font-family: sans-serif;
	font-style: verdana;
	text-decoration: bold;
}

.contact p{
	font-family: sans-serif;
	font-style: tahoma;
	font-size: 22px;
}

.map {
	width: 100%;
}

.map p{
	font-size: 30px;
	color: black;
	text-align: center;
}

.photo {
	min-height: 300px;
	background:white;
	padding-left: 50px;
	padding-top: 45px;
}

.photo p{
	text-align: center;
	font-size: 29px;
	color:  black;
}
.round {
	height: 150px;
 -moz-border-radius: 150px; /* Firefox */
 -webkit-border-radius: 150px; /* Safari, Chrome */
 border-radius: 250px; /* CSS3 */
 margin-left: 45px;
padding: 0 0;
}

.footertrip {
	background: #F1F2F3;
	padding-bottom: 0px;
	padding-top: 20px;
	position: relative;
	left: 0;
	bottom: 0;
	height: 30px;
	width: 100%;
}

.footerstrip p{
	font-family: serif;
}

  hr {
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }

 .social-link li {
list-style: none;
display: inline-block;
margin-right: 20px;
font-size: 42px;
}

.social-link li a:hover {
  color: #FFBF00 !important;

}

.developer {
	min-height: 150px;
	width: 100%;
}

.developer p{
	font-size: 22px;
	font-family: serif;
	text-align: right;
	padding-right: 26px;
	color: black;
}

.developer a{
	text-decoration: none;
}

.city {
	width: 100%;
}

.city p{
	text-align: center;
	font-size: 16px;
}

@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} } 
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} } 
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} } 

img {   max-width: 100% }

.header {   background: url(header.jpg) 50% no-repeat;   background-size: contain }



#slides{
    position: relative;
    height: 300px;
   	padding-left: 400px;
    list-style-type: none;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}


.showing {
	opacity: 1;
	z-index: 2;
}

	

.controls{
  background: #333;
  color: #fff;
  border: none;
  padding: 20px 0px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 10px 0px 0px 10px;
  width: 70px;
}

.controls:hover,
.controls:focus{
  background: #eee;
  color: #333;
}

.container{
  position: relative;
}

.buttons{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  background-color: none;
}
